
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/e2e/reports/
selenium-debug.log
/web/
/web.zip

# Editor directories and files
.idea
.vscode
**/*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
yarn.lock
**/*/.DS_Store
.history/
.nyc_output/
coverage/
**/*.swp
**/*.swo
tags
tags/**
dist-ssr
*.local
local.env.js
local.env.ts
.tern-port
**/*/.tern-port
.log
.nvimlog
