// background color
$bg: #f1f2f6;
$bg-primary: #f2f6ff;
$primary-color: #215efd;
$dark-color: #333;
$medium-color: #666;
$light-color: #999;
$pass: #78c06e;
$unpass: #fb3a39;
$btn-border: #d1d1d1;
$table-header-color: rgba(18, 18, 18, 0.59);
$table-font-color: #121212;
$dividing-line: #d5d5d5;
$table-hover-color: #e0e9ff;
$change-password-border: #dcdcdd;
$random-password: rgba(253, 185, 91, 1);
$tab-default-color: #939ba4;
$tab-active-bg: #fff;
$border-color: #e6e6e8;
$btn-bg: #f2f2f2;
$btn-bg-active: #ebf1ff;
$back-font-color: #f7f7f9;
$danger: $unpass;
$popup-bg: #366fff;
$popup-content: rgba(102, 102, 102, 1);
$popup-warn: rgba(255, 205, 105, 1);
$btn-hover-color: #1890ff;
$placeholder-color: #d1d1d1;
