@import "../function.scss";
@import "../variable.scss";
.change-password {
  .change-password-header {
    @include setHL(55px);
    border-bottom: 1px solid $change-password-border;
    font-size: 24px;
    font-weight: 500px;
    text-align: center;
  }
  .change-password-content {
    background: #fff;
    margin: 20px auto 0 auto;
    padding: 5% 0 10% 0;
    width: 956px;
  }
  .change-password-content-wrap {
    margin: 0 auto;
    width: 400px;
  }
  .ant-form-item-label {
    & > label {
      width: 120px;
    }
  }
  .ant-form-item-control-input {
    min-height: 20px;
  }
  .ant-form-item-control-input-content {
    width: 190px;
    button {
      @include setWHL(74px, 24px);
      border-radius: 4px;
      padding: 0;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
  .button-list {
    margin-top: 20px;
    text-align: center;
  }
  .user-name {
    .ant-form-item-control-input-content {
      padding-top: 6px;
    }
  }
}
